.im-logo {
  height: 1em;
  display: inline-block;
  margin-top: -0.1em;
  padding: 2px;
  fill: $white;
  vertical-align: middle;
  background: $magenta;
  border-radius: 100em;
}

.block--contact-us {
  position: relative;
  padding: 150px 0;
  color: $white;

  @include mq(xl) {
    padding: 21vh 0;
  }

  .image--holder {
    @include absolute_cover;

    img {
      @include absolute_cover;
      object-fit: cover;
    }
  }

  h3 {
    @extend h2.large;
    line-height: 1.02em;
    margin-bottom: 25px;

    @include mq(md) {
      margin: 0;
    }
  }

  .contact--flex {
    margin-bottom: 62px;

    @include mq(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include mq(xl) {
      align-items: center;
    }

    .item {
      p {
        margin-bottom: 45px;
        padding-left: 40px;
      }
      .social-icons {
        padding-left: 40px;
        li {
          margin-right: 20px;
        }
        i {
          margin: unset !important;
        }
      }
      i {
        position: relative;
        margin-left: -40px;
        margin-right: 16px;
        width: 20px;
        text-align: center;
      }
      &:first-child {
        @include mq(md) {
          padding-right: 65px;
        }
      }
      &:last-child {
        @include mq(md) {
          padding-left: 65px;
        }
      }
    }
  }
  .form--holder {
    color: $slight_black;
    padding: 25px;
    background: $white;
    @include mq(md) {
      padding: 80px;
      margin: 0 6vw;
    }
  }
}

footer {
  background: $black;
  padding: 36px 15px;
  display: block;
  align-items: center;
  justify-content: space-between;
  color: $white;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  color: $off_white;

  @include mq(lg) {
    font-size: 16px;
    display: flex;
    padding: 36px 10vw;
  }

  @include mq(xxl) {
    padding: 36px 19vw;
  }
  .color-flag {
    margin-right: 17px;
    @include mq(xl) {
      margin-right: 178px;
    }
  }

  p {
    margin-top: 15px;
    @include mq(lg) {
      margin: 0;
    }
  }

  a {
    color: $white;
    &:hover {
      color: $off_white;
    }
  }
}
