.site-nav {
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-between;
  transition: all 0.6s ease-in-out;
  height: 116px;
  padding: 3vh 15px;
  @include mq(sm) {
    padding: 3vh 4vw;
    height: auto;
  }
  @include mq(md) {
    padding: 5vh 4vw;
    height: 186px;
  }

  @include mq(lg) {
    padding: 4vh 4vw;
  }
  @include mq(xl) {
    padding: 5vh 4vw;
  }

  .logo {
    display: block;
    height: 100%;
    svg {
      transition: all 0.6s ease-in-out;
      max-width: 160px;
      width: auto;
      @include mq(md) {
        max-width: 201px;
      }

      path {
        fill: $white;
      }
    }
  }

  .btn-primary {
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    border: 0;
    transition: all 0.6s ease-in-out;
    height: 60px;

    @include mq(md) {
      height: 75px;
    }

    i {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq(md) {
        height: 75px;
        width: 75px;
        border-right: 1px solid rgba(#333, 0.25);
      }
    }
    span {
      padding: 25px 50px 25px 40px;
      display: none;
      @include mq(lg) {
        display: block;
      }
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    background: $black;
    border: 0;
    cursor: pointer;
    flex-direction: column;
    @include mq(md) {
      height: 75px;
      width: 218px;
      flex-direction: row;
    }

    p {
      color: $white;
      text-transform: uppercase;
      margin: 0 7px;
      font-family: $proxima_nova;
      font-size: 13px;
      font-weight: bold;
      line-height: 13px;
      letter-spacing: 3px;
      @include mq(md) {
        line-height: 28px;
        font-size: 16px;
        margin: 0 20px 0 0;
      }
    }

    svg {
      height: 24px;
      width: auto;
      @include mq(md) {
        height: 38px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  // offset if WP admin bar is present
  .admin-bar & {
    top: 46px;
    @media (min-width: 783px) {
      top: 32px;
    }
  }
  &.sticky {
    background: #efefef;
    padding: 5px 15px;
    height: 75px;

    @include mq(md) {
      padding: 5px 25px;
    }

    .btn-primary,
    button {
      height: 65px;
    }

    .btn-primary {
      border: 1px solid $blue;
      i {
        height: 65px;
        width: 65px;
      }
      span {
        padding: 0 25px;
      }
    }
    .logo {
      height: 100%;
      svg {
        height: 100%;
        width: auto;
      }
    }

    .logo {
      svg {
        path {
          fill: $blue;
        }
      }
    }
  }
}
