.site-nav {
  display: flex;
  width: 100%;
  padding: 5vh 4vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-between;
  transition: all 0.6s ease-in-out;

  .logo {
    svg {
      transition: all 0.6s ease-in-out;
      max-width: 201px;
    }
  }

  button {
    display: none;
  }

  // offset if WP admin bar is present
  .admin-bar & {
    top: 46px;
    @media (min-width: 783px) {
      top: 32px;
    }
  }
  &.sticky {
    @include mq(md) {
      mix-blend-mode: exclusion;
    }

    @include mq($until: md) {
      padding: 15px;

      &::before {
        content: "";
        display: block;
        width: 30vw;
        height: 30vw;
        background: rgba(#041c4a, 0.95);
        border-radius: 100em;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-5vw, -10vw);
        z-index: -1;
      }
      svg {
        max-width: 20vw;
        height: auto;
      }
    }
    @include mq($until: sm) {
      padding: 15px 5px;
    }
  }
}
