.block-about {
  position: relative;
  background: #041c4a;
  overflow: hidden;
  z-index: 0;

  .image--holder {
    @include pseudo_cover();
    z-index: -1;
    img {
      @include absolute_cover;
      object-fit: cover;
      opacity: 0.25;
    }
  }

  .padding--section {
    padding: 25vh 0 19vh;
  }

  svg {
    margin-bottom: 17px;
    max-width: 100%;
    height: auto;
    @include mq($until: md) {
      margin: 35px 0;
    }
  }

  h2 {
    margin-top: 18px;
    margin-bottom: 35px;

    br {
      @include mq($until: md) {
        display: none !important;
      }
    }
  }
  .d-flex {
    img {
      margin-right: 20px;
    }
  }
  .title {
    font-size: 18vw;
    line-height: 1.2em;
    font-weight: 800;
    -webkit-text-stroke: 1px #636363;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 0;
    transform: translateY(25%);
    left: 6.09%;
    white-space: nowrap;
    z-index: 2-1;
  }
}
