.block-about {
  position: relative;
  background: #041c4a;
  overflow: hidden;
  z-index: 0;

  .image--holder {
    @include pseudo_cover();
    z-index: -1;
    img {
      @include absolute_cover;
      object-fit: cover;
      opacity: 0.25;
    }
  }

  .padding--section {
    padding: 0 0 19vh;
  }

  svg {
    margin-bottom: 17px;
    max-width: 100%;
    width: 900px;
    margin: 54px auto 0;
    height: auto;
    display: block;
  }

  h2 {
    margin-top: 18px;
    margin-bottom: 35px;

    br {
      @include mq($until: md) {
        display: none !important;
      }
    }
  }
  h5 {
    font-size: 18px;
    line-height: 1.19em;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;

    i {
      font-size: 10px;
      position: relative;
      top: -3px;
      margin: 0 8px;
    }
  }
  .d-flex {
    img {
      margin-right: 20px;
    }
  }
  .title {
    font-size: 18vw;
    line-height: 1.2em;
    font-weight: 800;
    -webkit-text-stroke: 1px #636363;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 0;
    transform: translateY(25%);
    left: 6.09%;
    white-space: nowrap;
    z-index: -1;
  }

  .content--1 {
    .d-flex {
      margin-top: 39px;
      margin-bottom: 39px;
      @include mq(md) {
        margin-bottom: 0;
      }
    }
  }

  .content--2 {
    @include mq(md) {
      margin-top: 175px;
    }
  }
}
