.block {
  position: relative;
}

.team--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-image {
  float: right;
  margin: 0 0 35px 4vw;
  display: block;
  max-width: 30vw;
  height: auto;
}

.block__team-member {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 90px;
  width: 100%;
  text-align: center;

  @include mq(lg) {
    margin: 0 25px 90px;
    width: calc(25% - 50px);
  }
  @include mq(lg) {
    margin: 0 25px 90px;
    width: calc(33.3% - 50px);
  }
  img {
    border-radius: 100em;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  h5 {
    margin-bottom: 15px;
    color: $blue;
    font-size: 18px;
    font-weight: normal;
  }
  .btn {
    margin-top: auto !important;
  }
}

.block--child-page {
  display: block;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dddddd;

  @include mq(lg) {
    display: flex;
  }

  img {
    height: auto;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;

    @include mq(lg) {
      margin-right: 3vw;
      max-width: 45%;
      margin-bottom: 0;
    }
  }
}

.resources--grid,
.logo--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin: 35px 0;

  @include mq(md) {
    grid-gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.logo--grid {
  align-items: center;
}

.resource--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 45px;
  margin-top: 35px;
  align-items: center;

  @include mq(md) {
    grid-template-columns: 250px 1fr;
  }

  img {
    width: 100%;
    height: auto;
  }
}
