.block {
  position: relative;
}

.block__team-member {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dddddd;

  @include mq($until: lg) {
    flex-direction: column;
  }

  &:last-of-type() {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  img {
    margin-right: 3vw;
    border-radius: 100em;
  }
  h3 {
    margin-bottom: 10px;
  }
  h5 {
    margin-bottom: 15px;
  }
  p {
    margin-top: 15px;
  }
}

.block--child-page {
  display: block;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dddddd;

  @include mq(lg) {
    display: flex;
  }

  img {
    height: auto;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;

    @include mq(lg) {
      margin-right: 3vw;
      max-width: 45%;
      margin-bottom: 0;
    }
  }
}
