.block-homepage_gallery {
  position: relative;
  overflow: hidden;
  z-index: 0;

  .image--holder {
    @include absolute_cover;
    img {
      @include absolute_cover;
      object-fit: cover;
    }
  }
  .homepage--gallery {
    @include absolute_cover;
    z-index: 0;
    img {
      @include absolute_cover;
      object-fit: cover;
    }
  }
  .padding--section {
    padding: 90px 0;

    @include mq(md) {
      padding: 30vh 0 10vh;
    }
    @include mq(lg) {
      padding: 50vh 0 16vh;
    }
  }

  .content--area {
    background: rgba(32, 32, 32, 0.9);
    padding: 25px;

    @include mq(md) {
      padding: 33px 23px 52px 50px;
    }
  }
  h2 {
    margin-bottom: 34px;
  }

  h5 {
    font-size: 18px;
    line-height: 1.19em;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;

    @include mq(md) {
      margin-bottom: 10px;
    }

    i {
      font-size: 10px;
      position: relative;
      top: -3px;
      margin: 0 8px;
    }
  }
  p {
    font-size: 0.9rem;
    line-height: 1.5em;
  }
  .swiper-nav-container {
    background: rgba(32, 32, 32, 0.86);
    mix-blend-mode: normal;
    height: 154px;
    width: 100%;
    display: flex;
    color: $white;
    position: absolute;
    bottom: 0;
    z-index: 9;
    justify-content: center;
    align-items: center;

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      right: unset;
      left: unset;
      top: unset;
      bottom: unset;
      transform: unset;
      background: unset;
      height: 14px;
      width: 49px;
      margin: 0 10px;
    }

    .swiper-pagination {
      position: relative;

      .swiper-pagination-bullet {
        margin: 0 10px;
        height: 7px;
        width: 7px;
        background: $white !important;
      }
    }
  }
}
