.block-page_header {
  position: relative;
  background: #041c4a;
  overflow: hidden;
  height: auto;
  display: flex;
  align-items: flex-end;
  color: $white;
  padding: 300px 0 60px;
  @include mq(md) {
    padding-top: 0;
    padding-bottom: 59px;
    height: 100vh;
  }

  .image--holder {
    @include absolute_cover;
    img {
      @include absolute_cover;
      object-fit: cover;
    }
    &::after {
      @include pseudo_cover();
      background: linear-gradient(
        180deg,
        rgba(32, 32, 32, 0.0001) 0%,
        #202020 100%
      );
      opacity: 0.8;
      @include mq(xxl) {
        opacity: 0.46;
      }
    }
  }
  h1 {
    position: relative;

    body:not(.home) & {
      font-size: 2.4rem;
      line-height: 1.21em;
      margin-bottom: 35px;

      @include mq(lg) {
        font-size: 4rem;
      }
    }
  }

  .padding--section {
    padding: 0 15px;
    @include mq(sm) {
      padding: 0 4vw;
    }
  }
}
