.block-two_column_no_background {
  padding: 90px 0;
  color: $font-color;

  @include mq(xl) {
    padding: 158px 0 100px;
  }
  .content--1 {
    @include mq(lg) {
      padding-right: 30px;
    }
  }
  .content--2 {
    @include mq(lg) {
      padding-left: 30px;
    }
  }
  hr {
    margin-bottom: 35px;
    border: 0 !important;
    width: 100%;

    &.show {
      margin: 50px 0;
      border-bottom: 1px solid #ddd !important;
    }
  }

  .btn-secondary {
    margin-top: 35px;
  }
  ul,
  ol {
    padding: 50px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin: 50px 0;
    list-style: none;
    column-count: 1;
    column-gap: 60px;
    @include mq(md) {
      column-count: 2;
    }

    li {
      position: relative;
      font-size: 0.8rem;
      line-height: 2.652em;
      padding-left: 25px;

      &::before {
        content: "\f054";
        font-family: $fontawesome;
        font-size: 16px;
        margin-right: 15px;
        font-weight: bold;
        margin-left: -25px;
      }
    }
  }

  h2 {
    a {
      color: $blue;

      &:hover {
        color: $font-color;
      }
    }
  }
}
