.block-two_column_no_background {
  padding: 90px 0;
  color: $font-color;

  @include mq(xl) {
    padding: 158px 0 100px;
  }
  .content--1 {
    @include mq(lg) {
      padding-right: 30px;
    }
  }
  .content--2 {
    @include mq(lg) {
      padding-left: 30px;
    }
  }
}
