.block-two_column_no_background {
  padding: 158px 0 100px;
  color: $font-color;

  .content--1 {
    padding-right: 30px;
  }
  .content--2 {
    padding-left: 30px;
    margin-top: calc(4.45rem + 51px);
  }
}
